In [9]:
import sqlite3 as sql
conn = sql.connect("main.db")
cursor = conn.cursor()

In [8]:
cursor.fetchall()

[]

In [21]:
# creating user table
cursor.execute("""CREATE TABLE Users (
                Username VARCHAR(100) PRIMARY KEY, 
                Password VARCHAR(100), 
                FirstName VARCHAR(100), 
                LastName VARCHAR(100)
               );""")

In [25]:
# creating question table
cursor.execute("""CREATE TABLE Questions (
                QuestionID INTEGER PRIMARY KEY AUTOINCREMENT,
                Question VARCHAR(100),
                Company VARCHAR(100),
                Points INT,
                CorrectChoice VARCHAR(100),
                IncorrectOne VARCHAR(100),
                IncorrectTwo VARCHAR(100),
                IncorrectThree VARCHAR(100)
                );""")

In [19]:
cursor.execute("""INSERT INTO Questions 
                (Question, Company, Points, CorrectChoice, IncorrectOne, IncorrectTwo, IncorrectThree) 
                VALUES 
               ('How many stock splits has Walmart been through?', 'Walmart', '1', '9', '2', '4', '11')""")
conn.commit()

In [22]:
cursor.execute("SELECT * FROM Questions WHERE Company='Walmart'")

cursor.fetchall()

[(1,
  'When did Walmart have its IPO?',
  'Walmart',
  3,
  'Oct 1st 1970',
  'Aug 25th 1972',
  'Mar 1st 2000',
  'Feb 20th 1980'),
 (3,
  'What percentage of Walmart is floated?',
  'Walmart',
  3,
  '53%',
  '5%',
  '75%',
  '9.3%'),
 (4,
  'What percentage of Walmart is institutionally owned?',
  'Walmart',
  2,
  '34%',
  '40%',
  '15%',
  '65%')]

In [26]:
# creating score table
cursor.execute("""CREATE TABLE Scores (
               Username VARCHAR(100) PRIMARY KEY,
               Points INT
                );""")

OperationalError: table Scores already exists

In [27]:
def register(username:str, password:str, fName:str, lName:str) -> str:
    cursor.execute(f"SELECT * FROM Users WHERE Username=?;", [username])
    if len(cursor.fetchall()) > 0 :
        return "Username already exists."
    else:
        cursor.execute("INSERT INTO Users VALUES (?, ?, ?, ?);", [username, password, fName, lName])
        cursor.execute("INSERT INTO Scores VALUES (?,?);", [username, 0])
        conn.commit()
        return "Successful"