In [2]:
import sqlite3 as sql
conn = sql.connect("main.db")
cursor = conn.cursor()

In [8]:
cursor.fetchall()

[]

In [21]:
# creating user table
cursor.execute("""CREATE TABLE Users (
                Username VARCHAR(100) PRIMARY KEY, 
                Password VARCHAR(100), 
                FirstName VARCHAR(100), 
                LastName VARCHAR(100)
               );""")

In [25]:
# creating question table
cursor.execute("""CREATE TABLE Questions (
                QuestionID INTEGER PRIMARY KEY AUTOINCREMENT,
                Question VARCHAR(100),
                Company VARCHAR(100),
                Points INT,
                CorrectChoice VARCHAR(100),
                IncorrectOne VARCHAR(100),
                IncorrectTwo VARCHAR(100),
                IncorrectThree VARCHAR(100)
                );""")

In [70]:
cursor.execute("""INSERT INTO Questions 
                (Question, Company, Points, CorrectChoice, IncorrectOne, IncorrectTwo, IncorrectThree) 
                VALUES 
               ('What is Google''s average trading volume?', 'Google', '4', '20.9mn', '15.28mn', '32.4mn', '45.93mn')""")
conn.commit()

In [71]:
cursor.execute("SELECT * FROM Questions WHERE Company='Google'")

len(cursor.fetchall())

8

In [26]:
# creating score table
cursor.execute("""CREATE TABLE Scores (
               Username VARCHAR(100) PRIMARY KEY,
               Points INT
                );""")

OperationalError: table Scores already exists

In [27]:
def register(username:str, password:str, fName:str, lName:str) -> str:
    cursor.execute(f"SELECT * FROM Users WHERE Username=?;", [username])
    if len(cursor.fetchall()) > 0 :
        return "Username already exists."
    else:
        cursor.execute("INSERT INTO Users VALUES (?, ?, ?, ?);", [username, password, fName, lName])
        cursor.execute("INSERT INTO Scores VALUES (?,?);", [username, 0])
        conn.commit()
        return "Successful"

In [29]:
# Adding content
cursor.execute("""INSERT INTO Content VALUES ('Google', 
'''Google, the technology giant that revolutionized the internet, marked a historic milestone with its Initial Public Offering (IPO) on August 19th, 2004. Founded by Larry Page and Sergey Brin, Google has become synonymous with online search and innovation, shaping the digital landscape in profound ways. With 47.24% of its stock floated, Google''s ownership structure reflects a balance between public and institutional investors, with 62.41% of shares held by major financial entities. The company has strategically undergone two stock splits, a financial maneuver aimed at enhancing liquidity and accessibility for a broader investor base.

Google''s stock performance reflects the dynamic nature of the tech industry, with a 52-week high of $142.38 and a low of $85.57. These fluctuations capture the ebb and flow of the digital marketplace where Google continues to play a leading role. Guiding the company through its evolution is Sundar Pichai, who assumed the role of CEO in 2015, bringing a keen focus on artificial intelligence and cloud computing to Google''s expansive portfolio.

Google''s average trading volume of 20.9 million shares per day highlights the consistent and robust interest in the company''s stock. Beyond its roots as a search engine, Google has diversified its offerings, including products like Android, YouTube, and a suite of cloud services. As the tech landscape continues to evolve, Google, under Pichai''s leadership, remains at the forefront of innovation, influencing how people access information and connect in the digital age.''');""")