In [14]:
import sqlite3 as sql
conn = sql.connect("main.db")
cursor = conn.cursor()

In [15]:
# creating user table
cursor.execute("""CREATE TABLE Users (
                Username VARCHAR(100) PRIMARY KEY, 
                Password VARCHAR(100), 
                FirstName VARCHAR(100), 
                LastName VARCHAR(100)
               );""")

In [16]:
# creating question table
cursor.execute("""CREATE TABLE Questions (
                QuestionID INT PRIMARY KEY,
                Question VARCHAR(100),
                Company VARCHAR(100),
                Points INT,
                CorrectChoice VARCHAR(100),
                IncorrectOne VARCHAR(100),
                IncorrectTwo VARCHAR(100),
                IncorrectThree VARCHAR(100)
                );""")

# question choices will be stored as a comma-separated list in a string

In [17]:
# creating score table
cursor.execute("""CREATE TABLE Scores (
               Username VARCHAR(100) PRIMARY KEY,
               Points INT
                );""")

In [18]:
def register(username:str, password:str, fName:str, lName:str) -> str:
    cursor.execute(f"SELECT * FROM Users WHERE Username=?;", [username])
    if len(cursor.fetchall()) > 0 :
        return "Username already exists."
    else:
        cursor.execute("INSERT INTO Users VALUES (?, ?, ?, ?);", [username, password, fName, lName])
        return "Successful"

In [19]:
conn.commit()