In [33]:
import sqlite3 as sql
conn = sql.connect("DBName.db")
cur = conn.cursor()

In [34]:
#create table
#cur.execute("CREATE TABLE sample_table (var1 VARCHAR(100), var2 INT, var3 BOOL, PRIMARY KEY(var1));")
#cur.fetchall()

In [35]:
#print table
cur.execute("SELECT * FROM sample_table")
print(cur.fetchall())

TypeError: Cursor.fetchall() takes no arguments (1 given)

In [ ]:
# add new value
#cur.execute("INSERT INTO sample_table VALUES (?, ?, ?);", ["test", 7, 1])
#cur.fetchall()

In [ ]:
# save values
#conn.commit()